$green: #54E6AF;
$lightGreen: #B3FFE2;

$veryDarkGray: #121725;
$darkGray: #2C344B;
$gray: #5A668A;
$lightGray: #C2CBE5;

$white: #FFFFFF;
$red: #FB3E3E;

$font: 'Chivo', sans-serif;
$font-normal: 300;
$font-bold: 400;
$font-bolder: 700;